.b{
    animation: coming 1s ease-in-out;
}
.o{
    animation: coming1 3s ease-in-out;
}
.n{
    animation: coming2 5s ease-in-out;
}

@keyframes coming, coming1, coming2{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
}
}